.item-body {
  display: flex;
  justify-content: space-between;
  padding: 16px;

  .image-price-details {
    display: flex;
  }

  .item-image {
    width: 180px;
    height: 180px;
    margin-right: 16px;
    border-radius: 4px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @media screen and (max-width: 800px) {
      width: 140px;
      height: 140px;
    }
  }

  .price {
    display: flex;
    align-items: center;
    margin-top: 16px;

    .value {
      font-weight: bold;
      font-size: 1.5rem;
    }

    img{
      width: 20px;
      height: 20px;
      margin-left: 10px;
    }
  }

  .title {
    margin-top: 16px;
    font-size: 1.25rem;

    @media screen and (max-width: 800px) {
      font-size: 0.95rem;
    }
  }

  .status {
    font-size: 1.25rem;

    @media screen and (max-width: 800px) {
      font-size: 0.95rem;
    }
  }

  .city {
    margin-top: 55px;
    margin-left: 16px;
    color: #999999;
    width: 160px;

    @media screen and (max-width: 800px) {
      font-size: 0.9rem;
    }
  }
}