.show-page {
  width: 80%;
  display: flex;
  margin: 0 auto;
  min-height: 92vh;
  color: #333333;
  
  .item {
    background-color: white;
    width: 100%;
    min-height: 80vh;
    margin-top: 50px;
    margin-bottom: 100px;
    border-radius: 4px;
    display: flex;
    padding: 32px;
    justify-content: space-between;
  }

  .image-description {
    width: 70%;
    margin-right: 32px;
  }

  .item-image {
    width: 680px;
    height: 680px;
    margin-right: 16px;
    border-radius: 4px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .description {
    width: 680px;
    text-align: justify;

    .description-title {
      font-size: 2rem;
      font-weight: bold;
      margin: 32px 0;
    }
  }

  .call-to-action {
    width: 220px;

    p {
      margin: 0;
    }

    h2 {
      font-weight: bold;
      margin-top: 16px;
      margin-bottom: 0;
    }

    .price {
      font-weight: bold;
      font-size: 2rem;
      margin: 32px 0;

      span {
        font-size: 1rem;
        position: relative;
        bottom: 10px;
      }
    }
    button{
      width: 100%;
      background-color: #3483FA;
      color: white;
      padding: 10px;
      border-radius: 4px;
      border: none;

      &:hover {
        cursor: pointer;
      }
    }
  }
}